<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80"
    placeholder="Filter emails..."
    [ngModel]="_emailFilter()"
    (ngModelChange)="_rawFilterInput.set($event)"
  />
  <div class="right-side flex items-center justify-between gap-2">
    <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
      Columns
      <ng-icon hlm name="lucideChevronDown" class="ml-2" size="sm" />
    </button>
    <button hlmBtn variant="outline" class="bg-green-200" routerLink="/customers/new">
      <ng-icon hlm name="lucidePlus" size="sm" class="mr-2" />
      New Customer
    </button>
  </div>
  <ng-template #menu>
    <hlm-menu class="w-32">
      @for (column of _brnColumnManager.allColumns; track column.name) {
        <button
          hlmMenuItemCheckbox
          [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
          [checked]="_brnColumnManager.isColumnVisible(column.name)"
          (triggered)="_brnColumnManager.toggleVisibility(column.name)"
        >
          <hlm-menu-item-check />
          <span>{{ column.label }}</span>
        </button>
      }
    </hlm-menu>
  </ng-template>
</div>

<brn-table
  hlm
  class="border-border mt-4 block h-[335px] overflow-auto rounded-md border"
  [dataSource]="_filteredSortedPaginatedCustomers()"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="select" class="w-12">
    <hlm-th *brnHeaderDef>
      <hlm-checkbox [checked]="_checkboxState()" (changed)="handleHeaderCheckboxChange()" />
    </hlm-th>
    <hlm-td *brnCellDef="let element">
      <hlm-checkbox [checked]="_isCustomerSelected(element)" (changed)="toggleCustomer(element)" />
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="name" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>Name</hlm-th>
    <hlm-td truncate *brnCellDef="let element">
      {{ element.name }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="email" class="w-60 lg:flex-1">
    <hlm-th *brnHeaderDef>
      <button hlmBtn size="sm" variant="ghost" (click)="handleEmailSortChange()">
        Email
        <ng-icon hlm class="ml-3" size="sm" name="lucideArrowUpDown" />
      </button>
    </hlm-th>
    <hlm-td truncate *brnCellDef="let element">
      {{ element.email }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-16">
    <hlm-th *brnHeaderDef></hlm-th>
    <hlm-td *brnCellDef="let element" class="text-right">
      <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
        <ng-icon hlm size="sm" name="lucideEllipsis" />
      </button>
      <ng-template #menu>
        <hlm-menu>
          <hlm-menu-label>Actions</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group class="space-y-2">
            <button hlmMenuItem class="bg-red-200" (click)="deleteCustomer(element)">
              <ng-icon hlm name="lucideTrash" size="sm" class="mx-2" />
              Delete
            </button>
            <button hlmMenuItem class="bg-yellow-200" [routerLink]="['/customers', element.id]">
              <ng-icon hlm name="lucidePencil" size="sm" class="mx-2"  />
              Edit
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>
  <div class="flex items-center justify-center p-20 text-muted-foreground" brnNoDataRow>No data</div>
</brn-table>
<div
  class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
  *brnPaginator="let ctx; totalElements: _totalElements(); pageSize: _pageSize(); onStateChange: _onStateChange"
>
  <span class="text-sm text-muted-foreground text-sm">{{ _selected().length }} of {{ _totalElements() }} row(s) selected</span>
  <div class="flex mt-2 sm:mt-0">
    <brn-select class="inline-block" placeholder="{{ _availablePageSizes[0] }}" [(ngModel)]="_pageSize">
      <hlm-select-trigger class="inline-flex mx-2 h-9">
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        @for (size of _availablePageSizes; track size) {
          <hlm-option [value]="size">
            {{ size === 10000 ? 'All' : size }}
          </hlm-option>
        }
      </hlm-select-content>
    </brn-select>

    <div class="flex space-x-1">
      <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.decrementable()" (click)="ctx.decrement()">
        Previous
      </button>
      <button size="sm" variant="outline" hlmBtn [disabled]="!ctx.incrementable()" (click)="ctx.increment()">
        Next
      </button>
    </div>
  </div>
</div>
